/* app/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-grid {
  background-image:
    linear-gradient(rgba(35, 35, 35, 0.7) 0.2px, transparent 0.6px),
    linear-gradient(90deg, rgba(35, 35, 35, 0.7) 0.2px, transparent 0.6px);
  background-size: 70px 70px;

}

html {
  scroll-behavior: smooth;
}